@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
  background: #fff;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cm-focused {
  outline: none !important;
  border-color: #ccc;
  box-shadow: 0 0 0 1px #ccc;
}

.cm-foldGutter span {
  line-height: 1;
  vertical-align: top;
  padding: 0 2px !important;
  color: #888;
  display: inline-block;
  width: 16px;
  font-size: 14px;
  text-align: center;
}

.site-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  margin: 2rem 0;
}

.site-card {
  width: 100%;
}

.site-card-link {
  display: block;
  padding: 1rem;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.site-card-link:hover {
  background-color: oklch(0.98 0 0)
}

@media screen and (min-width: 768px) {
  .site-card {
    width: calc(50% - 0.5rem);
  }
  .site-card-link {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .site-card-list {
    padding: 0 1.5rem;
  }
  .site-card {
    width: calc((100% - 2rem) / 3);
  }
}

@media screen and (min-width: 1280px) {
  .site-card-list {
    padding: 0 2rem;
  }
  .site-card {
    width: calc((100% - 3rem) / 4);
  }
}
