@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
  background: #fff;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cm-focused {
  outline: none !important;
  border-color: #ccc;
  box-shadow: 0 0 0 1px #ccc;
}

.cm-foldGutter span {
  line-height: 1;
  vertical-align: top;
  padding: 0 2px !important;
  color: #888;
  display: inline-block;
  width: 16px;
  font-size: 14px;
  text-align: center;
}
